@import url(reset.css);



html{
  width: 100%;
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: 12% 1fr;
  width: 100%;
  height: 100%;
}


h1 {
  font-family: "Bree Serif";
  font-size: 10vh;
  width:100%;
  height: 100%;
  text-align: center;
  color:lime;
  background-color: grey;
}

#cryptogram {
  width: 100%;
  height: 100%;
  font-size: 1em;
  /* background-image: url(../images/fondo1.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
}

.header-levels {
  margin-bottom: 12px;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 100%;
  width: 100%;
}

/* Buttons styles start */
button.btn-face {
    display: inline-block;
    border: none;
    padding: 1rem 1rem;
    margin: 0;
    text-decoration: none;
    background-image: url(../images/face.png);
    background-size: contain;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button.btn {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button.btn:hover,
button.btn:focus {
    background: #0053ba;
}

button.btn:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button.btn:active {
    transform: scale(0.99);
}
/* Button styles end */

table {
  border: 2px solid #000000;
  background-color: #4A4A4A;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table td, table.darkTable th {
  border: 1px solid #4A4A4A;
  padding: 3px 2px;
}
table tbody td {
  font-size: 13px;
  color: #E6E6E6;
}
table tr:nth-child(even) {
  background: #888888;
}
table thead {
  background: #000000;
  border-bottom: 3px solid #000000;
}
table thead th {
  font-size: 15px;
  font-weight: bold;
  color: #E6E6E6;
  text-align: center;
  border-left: 2px solid #4A4A4A;
}
table thead th:first-child {
  border-left: none;
}

table tfoot {
  font-size: 12px;
  font-weight: bold;
  color: #E6E6E6;
  background: #000000;
  background: -moz-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
  background: -webkit-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
  background: linear-gradient(to bottom, #404040 0%, #191919 66%, #000000 100%);
  border-top: 1px solid #4A4A4A;
}
table tfoot td {
  font-size: 12px;
}

.letter, .space {
  float: left;
}

.space {
  margin: 0 10px;
}

label {
  float: left;
}

input
{
    display:block;
}
